## Topic 1. `Exploratory data analysis with Pandas`

Source:
- [Rob-Mulla-Pandas-Video](https://www.youtube.com/watch?v=DkjCaAMBGWM)
- [mlcourse[dot]ai-Pandas-Section](https://mlcourse.ai/book/topic01/topic01_intro.html)

## Basics

### Importing

In [1]:
import pandas as pd
import sys

print('System info:', sys.version)
print('Pandas version:', pd.__version__)

System info: 3.12.4 | packaged by conda-forge | (main, Jun 17 2024, 10:04:44) [MSC v.1940 64 bit (AMD64)]
Pandas version: 2.2.2

### I/O (Reading and Writing)

In [2]:
# Creating a dictionary with the data
data = {
    # column_name: list(values)
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'London', 'Paris']
}

# Converting the dictionary into a Pandas DataFrame
df = pd.DataFrame(data)

df

      Name  Age      City
0    Alice   25  New York
1      Bob   30    London
2  Charlie   35     Paris

In [4]:
# NOTE: `fasparquet` or `pyarrow` is required for `read_parquet`
df = pd.read_parquet("../data/Combined_Flights_2018.parquet")

In [6]:
# NOTE: It takes `3m 43.4ms` to run and takes `1.86 GB`
# df.to_csv("../data/Combined_Flights_2018.csv", index=False)

### DataFrame Basics

In [9]:
pd.set_option('display.max_columns', 500)

In [10]:
# To print first 5 rows
df.head()

,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,ArrTime,ArrDelayMinutes,AirTime,CRSElapsedTime,ActualElapsedTime,Distance,Year,Quarter,Month,DayofMonth,DayOfWeek,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,Flight_Number_Marketing_Airline,Operating_Airline,DOT_ID_Operating_Airline,IATA_Code_Operating_Airline,Tail_Number,Flight_Number_Operating_Airline,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,OriginCityName,OriginState,OriginStateFips,OriginStateName,OriginWac,DestAirportID,DestAirportSeqID,DestCityMarketID,DestCityName,DestState,DestStateFips,DestStateName,DestWac,DepDel15,DepartureDelayGroups,DepTimeBlk,TaxiOut,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings
0,2018-01-23,Endeavor Air Inc.,ABY,ATL,False,False,1202,1157.0,0.0,-5.0,1256.0,0.0,38.0,62.0,59.0,145.0,2018,1,1,23,2,DL,DL_CODESHARE,19790,DL,3298,9E,20363,9E,N8928A,3298,10146,1014602,30146,"Albany, GA",GA,13,Georgia,34,10397,1039707,30397,"Atlanta, GA",GA,13,Georgia,34,0.0,-1.0,1200-1259,14.0,1211.0,1249.0,7.0,1304,-8.0,0.0,-1.0,1300-1359,1,0.0
1,2018-01-24,Endeavor Air Inc.,ABY,ATL,False,False,1202,1157.0,0.0,-5.0,1258.0,0.0,36.0,62.0,61.0,145.0,2018,1,1,24,3,DL,DL_CODESHARE,19790,DL,3298,9E,20363,9E,N800AY,3298,10146,1014602,30146,"Albany, GA",GA,13,Georgia,34,10397,1039707,30397,"Atlanta, GA",GA,13,Georgia,34,0.0,-1.0,1200-1259,13.0,1210.0,1246.0,12.0,1304,-6.0,0.0,-1.0,1300-1359,1,0.0
2,2018-01-25,Endeavor Air Inc.,ABY,ATL,False,False,1202,1153.0,0.0,-9.0,1302.0,0.0,40.0,62.0,69.0,145.0,2018,1,1,25,4,DL,DL_CODESHARE,19790,DL,3298,9E,20363,9E,N8836A,3298,10146,1014602,30146,"Albany, GA",GA,13,Georgia,34,10397,1039707,30397,"Atlanta, GA",GA,13,Georgia,34,0.0,-1.0,1200-1259,18.0,1211.0,1251.0,11.0,1304,-2.0,0.0,-1.0,1300-1359,1,0.0
3,2018-01-26,Endeavor Air Inc.,ABY,ATL,False,False,1202,1150.0,0.0,-12.0,1253.0,0.0,35.0,62.0,63.0,145.0,2018,1,1,26,5,DL,DL_CODESHARE,19790,DL,3298,9E,20363,9E,N800AY,3298,10146,1014602,30146,"Albany, GA",GA,13,Georgia,34,10397,1039707,30397,"Atlanta, GA",GA,13,Georgia,34,0.0,-1.0,1200-1259,17.0,1207.0,1242.0,11.0,1304,-11.0,0.0,-1.0,1300-1359,1,0.0
4,2018-01-27,Endeavor Air Inc.,ABY,ATL,False,False,1400,1355.0,0.0,-5.0,1459.0,0.0,36.0,60.0,64.0,145.0,2018,1,1,27,6,DL,DL_CODESHARE,19790,DL,3298,9E,20363,9E,N8839E,3298,10146,1014602,30146,"Albany, GA",GA,13,Georgia,34,10397,1039707,30397,"Atlanta, GA",GA,13,Georgia,34,0.0,-1.0,1400-1459,17.0,1412.0,1448.0,11.0,1500,-1.0,0.0,-1.0,1500-1559,1,0.0

In [11]:
# to print first `n` rows
n = 2
df.head(n)

,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,ArrTime,ArrDelayMinutes,AirTime,CRSElapsedTime,ActualElapsedTime,Distance,Year,Quarter,Month,DayofMonth,DayOfWeek,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,Flight_Number_Marketing_Airline,Operating_Airline,DOT_ID_Operating_Airline,IATA_Code_Operating_Airline,Tail_Number,Flight_Number_Operating_Airline,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,OriginCityName,OriginState,OriginStateFips,OriginStateName,OriginWac,DestAirportID,DestAirportSeqID,DestCityMarketID,DestCityName,DestState,DestStateFips,DestStateName,DestWac,DepDel15,DepartureDelayGroups,DepTimeBlk,TaxiOut,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings
0,2018-01-23,Endeavor Air Inc.,ABY,ATL,False,False,1202,1157.0,0.0,-5.0,1256.0,0.0,38.0,62.0,59.0,145.0,2018,1,1,23,2,DL,DL_CODESHARE,19790,DL,3298,9E,20363,9E,N8928A,3298,10146,1014602,30146,"Albany, GA",GA,13,Georgia,34,10397,1039707,30397,"Atlanta, GA",GA,13,Georgia,34,0.0,-1.0,1200-1259,14.0,1211.0,1249.0,7.0,1304,-8.0,0.0,-1.0,1300-1359,1,0.0
1,2018-01-24,Endeavor Air Inc.,ABY,ATL,False,False,1202,1157.0,0.0,-5.0,1258.0,0.0,36.0,62.0,61.0,145.0,2018,1,1,24,3,DL,DL_CODESHARE,19790,DL,3298,9E,20363,9E,N800AY,3298,10146,1014602,30146,"Albany, GA",GA,13,Georgia,34,10397,1039707,30397,"Atlanta, GA",GA,13,Georgia,34,0.0,-1.0,1200-1259,13.0,1210.0,1246.0,12.0,1304,-6.0,0.0,-1.0,1300-1359,1,0.0

In [12]:
# To print last 5 rows
df.tail()

,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,ArrTime,ArrDelayMinutes,AirTime,CRSElapsedTime,ActualElapsedTime,Distance,Year,Quarter,Month,DayofMonth,DayOfWeek,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,Flight_Number_Marketing_Airline,Operating_Airline,DOT_ID_Operating_Airline,IATA_Code_Operating_Airline,Tail_Number,Flight_Number_Operating_Airline,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,OriginCityName,OriginState,OriginStateFips,OriginStateName,OriginWac,DestAirportID,DestAirportSeqID,DestCityMarketID,DestCityName,DestState,DestStateFips,DestStateName,DestWac,DepDel15,DepartureDelayGroups,DepTimeBlk,TaxiOut,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings
637609,2018-09-11,Air Wisconsin Airlines Corp,SCE,IAD,False,False,1445,1433.0,0.0,-12.0,1515.0,0.0,35.0,61.0,42.0,133.0,2018,3,9,11,2,UA,UA_CODESHARE,19977,UA,3839,ZW,20046,ZW,N437AW,3839,14711,1471105,34711,"State College, PA",PA,42,Pennsylvania,23,12264,1226402,30852,"Washington, DC",VA,51,Virginia,38,0.0,-1.0,1400-1459,4.0,1437.0,1512.0,3.0,1546,-31.0,0.0,-2.0,1500-1559,1,0.0
637610,2018-09-11,Air Wisconsin Airlines Corp,IAD,GSO,False,False,1235,1224.0,0.0,-11.0,1344.0,0.0,43.0,80.0,80.0,239.0,2018,3,9,11,2,UA,UA_CODESHARE,19977,UA,3838,ZW,20046,ZW,N410AW,3838,12264,1226402,30852,"Washington, DC",VA,51,Virginia,38,11995,1199502,31995,"Greensboro/High Point, NC",NC,37,North Carolina,36,0.0,-1.0,1200-1259,30.0,1254.0,1337.0,7.0,1355,-11.0,0.0,-1.0,1300-1359,1,0.0
637611,2018-09-11,Air Wisconsin Airlines Corp,EVV,ORD,False,False,1030,1016.0,0.0,-14.0,1137.0,0.0,54.0,94.0,81.0,272.0,2018,3,9,11,2,UA,UA_CODESHARE,19977,UA,3837,ZW,20046,ZW,N467AW,3837,11612,1161206,31612,"Evansville, IN",IN,18,Indiana,42,13930,1393006,30977,"Chicago, IL",IL,17,Illinois,41,0.0,-1.0,1000-1059,20.0,1036.0,1130.0,7.0,1204,-27.0,0.0,-2.0,1200-1259,2,0.0
637612,2018-09-11,Air Wisconsin Airlines Corp,ORD,HPN,False,False,1410,1403.0,0.0,-7.0,1717.0,0.0,104.0,136.0,134.0,738.0,2018,3,9,11,2,UA,UA_CODESHARE,19977,UA,3837,ZW,20046,ZW,N440AW,3837,13930,1393006,30977,"Chicago, IL",IL,17,Illinois,41,12197,1219702,31703,"White Plains, NY",NY,36,New York,22,0.0,-1.0,1400-1459,25.0,1428.0,1712.0,5.0,1726,-9.0,0.0,-1.0,1700-1759,3,0.0
637613,2018-09-11,Air Wisconsin Airlines Corp,HPN,ORD,False,False,1800,1754.0,0.0,-6.0,1919.0,0.0,116.0,153.0,145.0,738.0,2018,3,9,11,2,UA,UA_CODESHARE,19977,UA,3836,ZW,20046,ZW,N440AW,3836,12197,1219702,31703,"White Plains, NY",NY,36,New York,22,13930,1393006,30977,"Chicago, IL",IL,17,Illinois,41,0.0,-1.0,1800-1859,14.0,1808.0,1904.0,15.0,1933,-14.0,0.0,-1.0,1900-1959,3,0.0

In [13]:
# To print last `n` rows
n = 2
df.tail(n)

,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,ArrTime,ArrDelayMinutes,AirTime,CRSElapsedTime,ActualElapsedTime,Distance,Year,Quarter,Month,DayofMonth,DayOfWeek,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,Flight_Number_Marketing_Airline,Operating_Airline,DOT_ID_Operating_Airline,IATA_Code_Operating_Airline,Tail_Number,Flight_Number_Operating_Airline,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,OriginCityName,OriginState,OriginStateFips,OriginStateName,OriginWac,DestAirportID,DestAirportSeqID,DestCityMarketID,DestCityName,DestState,DestStateFips,DestStateName,DestWac,DepDel15,DepartureDelayGroups,DepTimeBlk,TaxiOut,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings
637612,2018-09-11,Air Wisconsin Airlines Corp,ORD,HPN,False,False,1410,1403.0,0.0,-7.0,1717.0,0.0,104.0,136.0,134.0,738.0,2018,3,9,11,2,UA,UA_CODESHARE,19977,UA,3837,ZW,20046,ZW,N440AW,3837,13930,1393006,30977,"Chicago, IL",IL,17,Illinois,41,12197,1219702,31703,"White Plains, NY",NY,36,New York,22,0.0,-1.0,1400-1459,25.0,1428.0,1712.0,5.0,1726,-9.0,0.0,-1.0,1700-1759,3,0.0
637613,2018-09-11,Air Wisconsin Airlines Corp,HPN,ORD,False,False,1800,1754.0,0.0,-6.0,1919.0,0.0,116.0,153.0,145.0,738.0,2018,3,9,11,2,UA,UA_CODESHARE,19977,UA,3836,ZW,20046,ZW,N440AW,3836,12197,1219702,31703,"White Plains, NY",NY,36,New York,22,13930,1393006,30977,"Chicago, IL",IL,17,Illinois,41,0.0,-1.0,1800-1859,14.0,1808.0,1904.0,15.0,1933,-14.0,0.0,-1.0,1900-1959,3,0.0

In [14]:
# To pull a random subset of data from the dataset
df.sample()

,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,ArrTime,ArrDelayMinutes,AirTime,CRSElapsedTime,ActualElapsedTime,Distance,Year,Quarter,Month,DayofMonth,DayOfWeek,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,Flight_Number_Marketing_Airline,Operating_Airline,DOT_ID_Operating_Airline,IATA_Code_Operating_Airline,Tail_Number,Flight_Number_Operating_Airline,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,OriginCityName,OriginState,OriginStateFips,OriginStateName,OriginWac,DestAirportID,DestAirportSeqID,DestCityMarketID,DestCityName,DestState,DestStateFips,DestStateName,DestWac,DepDel15,DepartureDelayGroups,DepTimeBlk,TaxiOut,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings
178183,2018-10-19,Southwest Airlines Co.,PHX,OMA,False,False,1855,2158.0,183.0,183.0,212.0,167.0,121.0,150.0,134.0,1037.0,2018,4,10,19,5,WN,WN,19393,WN,294,WN,19393,WN,N752SW,294,14107,1410702,30466,"Phoenix, AZ",AZ,4,Arizona,81,13871,1387102,33316,"Omaha, NE",NE,31,Nebraska,65,1.0,12.0,1800-1859,10.0,2208.0,209.0,3.0,2325,167.0,1.0,11.0,2300-2359,5,0.0

In [22]:
# To pull `n` random subsets of data from the dataset
n = 2
df.sample(n)

,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,ArrTime,ArrDelayMinutes,AirTime,CRSElapsedTime,ActualElapsedTime,Distance,Year,Quarter,Month,DayofMonth,DayOfWeek,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,Flight_Number_Marketing_Airline,Operating_Airline,DOT_ID_Operating_Airline,IATA_Code_Operating_Airline,Tail_Number,Flight_Number_Operating_Airline,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,OriginCityName,OriginState,OriginStateFips,OriginStateName,OriginWac,DestAirportID,DestAirportSeqID,DestCityMarketID,DestCityName,DestState,DestStateFips,DestStateName,DestWac,DepDel15,DepartureDelayGroups,DepTimeBlk,TaxiOut,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings
114865,2018-03-21,Southwest Airlines Co.,DAL,MDW,False,False,1050,1045.0,0.0,-5.0,1244.0,0.0,108.0,125.0,119.0,793.0,2018,1,3,21,3,WN,WN,19393,WN,1644,WN,19393,WN,N7851A,1644,11259,1125903,30194,"Dallas, TX",TX,48,Texas,74,13232,1323202,30977,"Chicago, IL",IL,17,Illinois,41,0.0,-1.0,1000-1059,7.0,1052.0,1240.0,4.0,1255,-11.0,0.0,-1.0,1200-1259,4,0.0
340542,2018-09-04,Envoy Air,CLE,ORD,False,False,2035,2026.0,0.0,-9.0,2038.0,0.0,51.0,90.0,72.0,316.0,2018,3,9,4,2,AA,AA_CODESHARE,19805,AA,3625,MQ,20398,MQ,N523AE,3625,11042,1104205,30647,"Cleveland, OH",OH,39,Ohio,44,13930,1393006,30977,"Chicago, IL",IL,17,Illinois,41,0.0,-1.0,2000-2059,12.0,2038.0,2029.0,9.0,2105,-27.0,0.0,-2.0,2100-2159,2,0.0

In [16]:
# To pull `n%` random subsets of data from the dataset
df.sample(frac=0.05) # pulls 50% of random data

,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,ArrTime,ArrDelayMinutes,AirTime,CRSElapsedTime,ActualElapsedTime,Distance,Year,Quarter,Month,DayofMonth,DayOfWeek,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,Flight_Number_Marketing_Airline,Operating_Airline,DOT_ID_Operating_Airline,IATA_Code_Operating_Airline,Tail_Number,Flight_Number_Operating_Airline,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,OriginCityName,OriginState,OriginStateFips,OriginStateName,OriginWac,DestAirportID,DestAirportSeqID,DestCityMarketID,DestCityName,DestState,DestStateFips,DestStateName,DestWac,DepDel15,DepartureDelayGroups,DepTimeBlk,TaxiOut,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings
343257,2018-11-23,United Air Lines Inc.,ROC,ORD,False,False,1730,1728.0,0.0,-2.0,1825.0,0.0,85.0,116.0,117.0,528.0,2018,4,11,23,5,UA,UA,19977,UA,518,UA,19977,UA,N448UA,518,14576,1457606,34576,"Rochester, NY",NY,36,New York,22,13930,1393007,30977,"Chicago, IL",IL,17,Illinois,41,0.0,-1.0,1700-1759,15.0,1743.0,1808.0,17.0,1826,-1.0,0.0,-1.0,1800-1859,3,0.0
117850,2018-04-18,United Air Lines Inc.,RSW,EWR,False,False,1225,1259.0,34.0,34.0,1603.0,44.0,154.0,174.0,184.0,1068.0,2018,2,4,18,3,UA,UA,19977,UA,2418,UA,19977,UA,N477UA,2418,14635,1463502,31714,"Fort Myers, FL",FL,12,Florida,33,11618,1161802,31703,"Newark, NJ",NJ,34,New Jersey,21,1.0,2.0,1200-1259,24.0,1323.0,1557.0,6.0,1519,44.0,1.0,2.0,1500-1559,5,0.0
79098,2018-10-24,United Air Lines Inc.,BZN,ORD,False,False,1305,1253.0,0.0,-12.0,1631.0,0.0,139.0,174.0,158.0,1186.0,2018,4,10,24,3,UA,UA,19977,UA,2184,UA,19977,UA,N895UA,2184,10849,1084905,30849,"Bozeman, MT",MT,30,Montana,84,13930,1393007,30977,"Chicago, IL",IL,17,Illinois,41,0.0,-1.0,1300-1359,9.0,1302.0,1621.0,10.0,1659,-28.0,0.0,-2.0,1600-1659,5,0.0
529491,2018-12-04,Delta Air Lines Inc.,SLC,ORD,False,False,952,952.0,0.0,0.0,1413.0,5.0,156.0,196.0,201.0,1250.0,2018,4,12,4,2,DL,DL,19790,DL,1822,DL,19790,DL,N361NB,1822,14869,1486903,34614,"Salt Lake City, UT",UT,49,Utah,87,13930,1393007,30977,"Chicago, IL",IL,17,Illinois,41,0.0,0.0,0900-0959,33.0,1025.0,1401.0,12.0,1408,5.0,0.0,0.0,1400-1459,6,0.0
426021,2018-12-14,SkyWest Airlines Inc.,MDW,MSP,False,False,939,929.0,0.0,-10.0,1100.0,0.0,65.0,101.0,91.0,349.0,2018,4,12,14,5,DL,DL_CODESHARE,19790,DL,4495,OO,20304,OO,N609SK,4495,13232,1323202,30977,"Chicago, IL",IL,17,Illinois,41,13487,1348702,31650,"Minneapolis, MN",MN,27,Minnesota,63,0.0,-1.0,0900-0959,20.0,949.0,1054.0,6.0,1120,-20.0,0.0,-2.0,1100-1159,2,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2908,2018-08-17,JetBlue Airways,DCA,RSW,False,False,1420,1412.0,0.0,-8.0,1637.0,0.0,130.0,156.0,145.0,892.0,2018,3,8,17,5,B6,B6,20409,B6,481,B6,20409,B6,N351JB,481,11278,1127805,30852,"Washington, DC",VA,51,Virginia,38,14635,1463502,31714,"Fort Myers, FL",FL,12,Florida,33,0.0,-1.0,1400-1459,12.0,1424.0,1634.0,3.0,1656,-19.0,0.0,-2.0,1600-1659,4,0.0
237558,2018-03-30,SkyWest Airlines Inc.,DEN,SHV,False,False,1300,1245.0,0.0,-15.0,1600.0,0.0,101.0,134.0,135.0,792.0,2018,1,3,30,5,UA,UA_CODESHARE,19977,UA,5720,OO,20304,OO,N919SW,5720,11292,1129202,30325,"Denver, CO",CO,8,Colorado,82,14814,1481402,30476,"Shreveport, LA",LA,22,Louisiana,72,0.0,-1.0,1300-1359,13.0,1258.0,1539.0,21.0,1614,-14.0,0.0,-1.0,1600-1659,4,0.0
214077,2018-01-07,Delta Air Lines Inc.,PHL,ATL,False,False,610,605.0,0.0,-5.0,804.0,0.0,100.0,147.0,119.0,666.0,2018,1,1,7,7,DL,DL,19790,DL,1605,DL,19790,DL,N907DE,1605,14100,1410005,34100,"Philadelphia, PA",PA,42,Pennsylvania,23,10397,1039707,30397,"Atlanta, GA",GA,13,Georgia,34,0.0,-1.0,0600-0659,14.0,619.0,759.0,5.0,837,-33.0,0.0,-2.0,0800-0859,3,0.0
156845,2018-12-20,SkyWest Airlines Inc.,FSD,MSP,False,False,1057,1048.0,0.0,-9.0,1158.0,0.0,44.0,77.0,70.0,196.0,2018,4,12,20,4,DL,DL_CODESHARE,19790,DL,3523,OO,20304,OO,N443SW,3523,11775,1177502,31775,"Sioux Falls, SD",SD,46,South Dakota,67,13487,1348702,31650,"Minneapolis, MN",MN,27,Minnesota,63,0.0,-1.0,1000-1059,19.0,1107.0,1151.0,7.0,1214,-16.0,0.0,-2.0,1200-1259,1,0.0
270136,2018-10-26,American Airlines Inc.,AUS,ORD,False,False,1059,1050.0,0.0,-9.0,1328.0,0.0,127.0,165.0,158.0,977.0,2018,4,10,26,5,AA,AA,19805,AA,1629,AA,19805,AA,N865NN,1629,10423,1042302,30423,"Austin, TX",TX,48,Texas,74,13930,1393007,30977,"Chicago, IL",IL,17,Illinois,41,0.0,-1.0,1000-1059,18.0,1108.0,1315.0,13.0,1344,-16.0,0.0,-2.0,1300-1359,4,0.0

In [21]:
# To reproduce the same random results everytime
arbitrary_n = 69
df.sample(n, random_state=arbitrary_n )

,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,ArrTime,ArrDelayMinutes,AirTime,CRSElapsedTime,ActualElapsedTime,Distance,Year,Quarter,Month,DayofMonth,DayOfWeek,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,Flight_Number_Marketing_Airline,Operating_Airline,DOT_ID_Operating_Airline,IATA_Code_Operating_Airline,Tail_Number,Flight_Number_Operating_Airline,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,OriginCityName,OriginState,OriginStateFips,OriginStateName,OriginWac,DestAirportID,DestAirportSeqID,DestCityMarketID,DestCityName,DestState,DestStateFips,DestStateName,DestWac,DepDel15,DepartureDelayGroups,DepTimeBlk,TaxiOut,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings
166326,2018-07-04,Alaska Airlines Inc.,PDX,BWI,False,False,1016,1005.0,0.0,-11.0,1852.0,32.0,318.0,304.0,347.0,2358.0,2018,3,7,4,3,AS,AS,19930,AS,372,AS,19930,AS,N274AK,372,14057,1405702,34057,"Portland, OR",OR,41,Oregon,92,10821,1082106,30852,"Baltimore, MD",MD,24,Maryland,35,0.0,-1.0,1000-1059,26.0,1031.0,1849.0,3.0,1820,32.0,1.0,2.0,1800-1859,10,0.0
114449,2018-12-26,Southwest Airlines Co.,SDF,MDW,False,False,705,658.0,0.0,-7.0,719.0,0.0,51.0,75.0,81.0,271.0,2018,4,12,26,3,WN,WN,19393,WN,6290,WN,19393,WN,N957WN,6290,14730,1473003,33044,"Louisville, KY",KY,21,Kentucky,52,13232,1323202,30977,"Chicago, IL",IL,17,Illinois,41,0.0,-1.0,0700-0759,25.0,723.0,714.0,5.0,720,-1.0,0.0,-1.0,0700-0759,2,0.0

In [23]:
# List of all columns
df.columns

Index(['FlightDate', 'Airline', 'Origin', 'Dest', 'Cancelled', 'Diverted',
       'CRSDepTime', 'DepTime', 'DepDelayMinutes', 'DepDelay', 'ArrTime',
       'ArrDelayMinutes', 'AirTime', 'CRSElapsedTime', 'ActualElapsedTime',
       'Distance', 'Year', 'Quarter', 'Month', 'DayofMonth', 'DayOfWeek',
       'Marketing_Airline_Network', 'Operated_or_Branded_Code_Share_Partners',
       'DOT_ID_Marketing_Airline', 'IATA_Code_Marketing_Airline',
       'Flight_Number_Marketing_Airline', 'Operating_Airline',
       'DOT_ID_Operating_Airline', 'IATA_Code_Operating_Airline',
       'Tail_Number', 'Flight_Number_Operating_Airline', 'OriginAirportID',
       'OriginAirportSeqID', 'OriginCityMarketID', 'OriginCityName',
       'OriginState', 'OriginStateFips', 'OriginStateName', 'OriginWac',
       'DestAirportID', 'DestAirportSeqID', 'DestCityMarketID', 'DestCityName',
       'DestState', 'DestStateFips', 'DestStateName', 'DestWac', 'DepDel15',
       'DepartureDelayGroups', 'DepTimeBlk', 'TaxiOut', 'WheelsOff',
       'WheelsOn', 'TaxiIn', 'CRSArrTime', 'ArrDelay', 'ArrDel15',
       'ArrivalDelayGroups', 'ArrTimeBlk', 'DistanceGroup',
       'DivAirportLandings'],
      dtype='object')

In [24]:
# To get index values
df.index

Index([     0,      1,      2,      3,      4,      5,      6,      7,      8,
            9,
       ...
       637604, 637605, 637606, 637607, 637608, 637609, 637610, 637611, 637612,
       637613],
      dtype='int64', length=5689512)

### DataFrame Summary

In [38]:
# Information about the DataFrame
df.info()

# NOTE: 
# `df` has an index ranging from 0 to 637,613 but 
# mentions 5,689,512 entries, it indicates that the 
# index is not strictly sequential from 0 to 637,613.

# Either the index includes non-sequential numbers, 
# non-unique (duplicate) indices, or a combination of 
# both, resulting in a total entry count that is much 
# higher than the maximum index value.

<class 'pandas.core.frame.DataFrame'>
Index: 5689512 entries, 0 to 637613
Data columns (total 61 columns):
 #   Column                                   Dtype
---  ------                                   -----
 0   FlightDate                               datetime64[ns]
 1   Airline                                  object
 2   Origin                                   object
 3   Dest                                     object
 4   Cancelled                                bool
 5   Diverted                                 bool
 6   CRSDepTime                               int64
 7   DepTime                                  float64
 8   DepDelayMinutes                          float64
 9   DepDelay                                 float64
 10  ArrTime                                  float64
 11  ArrDelayMinutes                          float64
 12  AirTime                                  float64
 13  CRSElapsedTime                           float64
 14  ActualElapsedTime                        float64
 15  Distance                                 float64
 16  Year                                     int64
 17  Quarter                                  int64
 18  Month                                    int64
 19  DayofMonth                               int64
 20  DayOfWeek                                int64
 21  Marketing_Airline_Network                object
 22  Operated_or_Branded_Code_Share_Partners  object
 23  DOT_ID_Marketing_Airline                 int64
 24  IATA_Code_Marketing_Airline              object
 25  Flight_Number_Marketing_Airline          int64
 26  Operating_Airline                        object
 27  DOT_ID_Operating_Airline                 int64
 28  IATA_Code_Operating_Airline              object
 29  Tail_Number                              object
 30  Flight_Number_Operating_Airline          int64
 31  OriginAirportID                          int64
 32  OriginAirportSeqID                       int64
 33  OriginCityMarketID                       int64
 34  OriginCityName                           object
 35  OriginState                              object
 36  OriginStateFips                          int64
 37  OriginStateName                          object
 38  OriginWac                                int64
 39  DestAirportID                            int64
 40  DestAirportSeqID                         int64
 41  DestCityMarketID                         int64
 42  DestCityName                             object
 43  DestState                                object
 44  DestStateFips                            int64
 45  DestStateName                            object
 46  DestWac                                  int64
 47  DepDel15                                 float64
 48  DepartureDelayGroups                     float64
 49  DepTimeBlk                               object
 50  TaxiOut                                  float64
 51  WheelsOff                                float64
 52  WheelsOn                                 float64
 53  TaxiIn                                   float64
 54  CRSArrTime                               int64
 55  ArrDelay                                 float64
 56  ArrDel15                                 float64
 57  ArrivalDelayGroups                       float64
 58  ArrTimeBlk                               object
 59  DistanceGroup                            int64
 60  DivAirportLandings                       float64
dtypes: bool(2), datetime64[ns](1), float64(19), int64(22), object(17)
memory usage: 2.6+ GB

In [42]:
df.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
Index: 5689512 entries, 0 to 637613
Columns: 61 entries, FlightDate to DivAirportLandings
dtypes: bool(2), datetime64[ns](1), float64(19), int64(22), object(17)
memory usage: 2.6+ GB

In [43]:
# Descriptive statistics (on numeric columns)
df.describe()

,FlightDate,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,ArrTime,ArrDelayMinutes,AirTime,CRSElapsedTime,ActualElapsedTime,Distance,Year,Quarter,Month,DayofMonth,DayOfWeek,DOT_ID_Marketing_Airline,Flight_Number_Marketing_Airline,DOT_ID_Operating_Airline,Flight_Number_Operating_Airline,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,OriginStateFips,OriginWac,DestAirportID,DestAirportSeqID,DestCityMarketID,DestStateFips,DestWac,DepDel15,DepartureDelayGroups,TaxiOut,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,DistanceGroup,DivAirportLandings
count,5689512,5.689512e+06,5.604132e+06,5.602937e+06,5.602937e+06,5.598897e+06,5.586619e+06,5.580241e+06,5.689506e+06,5.587165e+06,5.689512e+06,5689512.0,5.689512e+06,5.689512e+06,5.689512e+06,5.689512e+06,5.689512e+06,5.689512e+06,5.689512e+06,5.689512e+06,5.689512e+06,5.689512e+06,5.689512e+06,5.689512e+06,5.689512e+06,5.689512e+06,5.689512e+06,5.689512e+06,5.689512e+06,5.689512e+06,5.602937e+06,5.602937e+06,5.594818e+06,5.594828e+06,5.591963e+06,5.591953e+06,5.689512e+06,5.586619e+06,5.586619e+06,5.586619e+06,5.689512e+06,5.689511e+06
mean,2018-07-25 09:00:40.515811840,1.330341e+03,1.334473e+03,1.346201e+01,1.014888e+01,1.462641e+03,1.368363e+01,1.101716e+02,1.389089e+02,1.344377e+02,7.878012e+02,2018.0,2.765149e+00,7.290665e+00,1.577653e+01,3.942995e+00,1.983425e+04,2.638920e+03,1.998161e+04,2.638847e+03,1.271578e+04,1.271582e+06,3.177650e+04,2.666363e+01,5.520549e+01,1.271575e+04,1.271579e+06,3.177648e+04,2.666330e+01,5.520607e+01,1.877676e-01,5.733707e-02,1.704049e+01,1.357922e+03,1.458453e+03,7.364397e+00,1.482252e+03,5.416295e+00,1.948123e-01,-1.636356e-01,3.625993e+00,3.568496e-03
min,2018-01-01 00:00:00,1.000000e+00,1.000000e+00,0.000000e+00,-1.280000e+03,1.000000e+00,0.000000e+00,-1.244000e+03,-9.900000e+01,-1.228000e+03,1.600000e+01,2018.0,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.939300e+04,1.000000e+00,1.939300e+04,1.000000e+00,1.013500e+04,1.013505e+06,3.007000e+04,1.000000e+00,1.000000e+00,1.013500e+04,1.013505e+06,3.007000e+04,1.000000e+00,1.000000e+00,0.000000e+00,-2.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,-1.290000e+03,0.000000e+00,-2.000000e+00,1.000000e+00,0.000000e+00
25%,2018-04-22 00:00:00,9.150000e+02,9.160000e+02,0.000000e+00,-6.000000e+00,1.046000e+03,0.000000e+00,5.900000e+01,8.600000e+01,8.200000e+01,3.490000e+02,2018.0,2.000000e+00,4.000000e+00,8.000000e+00,2.000000e+00,1.969000e+04,9.420000e+02,1.968700e+04,9.420000e+02,1.129200e+04,1.129202e+06,3.072100e+04,1.200000e+01,3.400000e+01,1.129200e+04,1.129202e+06,3.072100e+04,1.200000e+01,3.400000e+01,0.000000e+00,-1.000000e+00,1.100000e+01,9.310000e+02,1.042000e+03,4.000000e+00,1.058000e+03,-1.400000e+01,0.000000e+00,-1.000000e+00,2.000000e+00,0.000000e+00
50%,2018-08-16 00:00:00,1.323000e+03,1.327000e+03,0.000000e+00,-2.000000e+00,1.503000e+03,0.000000e+00,9.200000e+01,1.200000e+02,1.170000e+02,6.280000e+02,2018.0,3.000000e+00,8.000000e+00,1.600000e+01,4.000000e+00,1.980500e+04,2.127000e+03,1.997700e+04,2.127000e+03,1.288900e+04,1.288903e+06,3.145400e+04,2.500000e+01,4.500000e+01,1.288900e+04,1.288903e+06,3.145400e+04,2.500000e+01,4.500000e+01,0.000000e+00,-1.000000e+00,1.400000e+01,1.341000e+03,1.500000e+03,6.000000e+00,1.512000e+03,-6.000000e+00,0.000000e+00,-1.000000e+00,3.000000e+00,0.000000e+00
75%,2018-10-25 00:00:00,1.735000e+03,1.745000e+03,7.000000e+00,7.000000e+00,1.915000e+03,8.000000e+00,1.390000e+02,1.700000e+02,1.650000e+02,1.024000e+03,2018.0,4.000000e+00,1.000000e+01,2.300000e+01,6.000000e+00,1.997700e+04,4.285000e+03,2.036800e+04,4.285000e+03,1.405700e+04,1.405702e+06,3.257500e+04,4.100000e+01,8.200000e+01,1.405700e+04,1.405702e+06,3.257500e+04,4.100000e+01,8.200000e+01,0.000000e+00,0.000000e+00,2.000000e+01,1.800000e+03,1.910000e+03,9.000000e+00,1.917000e+03,8.000000e+00,0.000000e+00,0.000000e+00,5.000000e+00,0.000000e+00
max,2018-12-31 00:00:00,2.359000e+03,2.400000e+03,2.625000e+03,2.625000e+03,2.400000e+03,2.635000e+03,6.960000e+02,1.645000e+03,7.570000e+02,4.983000e+03,2018.0,4.000000e+00,1.200000e+01,3.100000e+01,7.000000e+00,2.117100e+04,9.385000e+03,2.117100e+04,9.385000e+03,1.621800e+04,1.621802e+06,3.613300e+04,7.800000e+01,9.300000e+01,1.621800e+04,1.621802e+06,3.613300e+04,7.800000e+01,9.300000e+01,1.000000e+00,1.200000e+01,1.394000e+03,2.400000e+03,2.400000e+03,2.590000e+02,2.400000e+03,2.635000e+03,1.000000e+00,1.200000e+01,1.100000e+01,9.000000e+00
std,NaN,4.913570e+02,5.048563e+02,4.420411e+01,4.536897e+01,5.405804e+02,4.402848e+01,7.058990e+01,7.288408e+01,7.258416e+01,5.943094e+02,0.0,1.115764e+00,3.503684e+00,8.778083e+00,2.001097e+00,3.149599e+02,1.914474e+03,4.149514e+02,1.914574e+03,1.505246e+03,1.505245e+05,1.288216e+03,1.657312e+01,2.697075e+01,1.505254e+03,1.505252e+05,1.288178e+03,1.657323e+01,2.697067e+01,3.905265e-01,2.212210e+00,9.802525e+00,5.063342e+02,5.365503e+02,5.893011e+00,5.212881e+02,4.746066e+01,3.960562e-01,2.350674e+00,2.342451e+00,1.112816e-01

In [46]:
# Descriptive statistics (on non-numeric column)
df.describe(include=['object'])

,Airline,Origin,Dest,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,IATA_Code_Marketing_Airline,Operating_Airline,IATA_Code_Operating_Airline,Tail_Number,OriginCityName,OriginState,OriginStateName,DestCityName,DestState,DestStateName,DepTimeBlk,ArrTimeBlk
count,5689512,5689512,5689512,5689512,5689512,5689512,5689512,5689512,5668964,5689512,5689512,5689512,5689512,5689512,5689512,5689512,5689512
unique,28,370,370,11,16,11,28,28,6093,364,52,52,364,52,52,19,19
top,Southwest Airlines Co.,ORD,ORD,UA,WN,UA,WN,WN,N491HA,"Chicago, IL",CA,California,"Chicago, IL",CA,California,0600-0659,1600-1659
freq,1352552,289451,289405,1525263,1352552,1525263,1352552,1352552,3810,374443,704844,704844,374387,704887,704887,407886,363410

In [47]:
# Descriptive statistics (on a single non-numeric column)
df[['Airline']].describe()

                       Airline
count                  5689512
unique                      28
top     Southwest Airlines Co.
freq                   1352552

In [50]:
df.shape

(5689512, 61)

In [51]:
len(df)

5689512

### Subsetting A DataFrame

---

## Topic - 1 (content)

### Demonstration of the main Pandas methods

In [ ]:
import numpy as np
import pandas as pd

# Displaying floating-point numbers up to 2 decimal places
pd.set_option("display.precision", 2)

In [ ]:
# Base directory where the dataset is located
DATA_URL = "https://raw.githubusercontent.com/Yorko/mlcourse.ai/main/data/"

In [ ]:
# Constructing the full URL to access the dataset
# 'telecom_churn.csv' and reading it directly from 
# the internet into the Pandas DataFrame (It is loaded
# into memory for the duration of the Python session)
df = pd.read_csv(DATA_URL + "telecom_churn.csv")
df.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

In [ ]:
# Saving the dataset locally
df.to_csv("../data/telecom_churn.csv", index=False)

In [ ]:
# By default, Pandas only shows 20 rows and 60 columns
pd.set_option("display.max_columns", 100)
pd.set_option("display.max_rows", 100)

df.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

In [ ]:
# Data dimensionality
df.shape # rows: 3,333 & cols: 20

(3333, 20)

In [ ]:
# Printing out column names
df.columns

Index(['State', 'Account length', 'Area code', 'International plan',
       'Voice mail plan', 'Number vmail messages', 'Total day minutes',
       'Total day calls', 'Total day charge', 'Total eve minutes',
       'Total eve calls', 'Total eve charge', 'Total night minutes',
       'Total night calls', 'Total night charge', 'Total intl minutes',
       'Total intl calls', 'Total intl charge', 'Customer service calls',
       'Churn'],
      dtype='object')

In [ ]:
# Display general info about the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   State                   3333 non-null   object
 1   Account length          3333 non-null   int64
 2   Area code               3333 non-null   int64
 3   International plan      3333 non-null   object
 4   Voice mail plan         3333 non-null   object
 5   Number vmail messages   3333 non-null   int64
 6   Total day minutes       3333 non-null   float64
 7   Total day calls         3333 non-null   int64
 8   Total day charge        3333 non-null   float64
 9   Total eve minutes       3333 non-null   float64
 10  Total eve calls         3333 non-null   int64
 11  Total eve charge        3333 non-null   float64
 12  Total night minutes     3333 non-null   float64
 13  Total night calls       3333 non-null   int64
 14  Total night charge      3333 non-null   float64
 15  Total intl minutes      3333 non-null   float64
 16  Total intl calls        3333 non-null   int64
 17  Total intl charge       3333 non-null   float64
 18  Customer service calls  3333 non-null   int64
 19  Churn                   3333 non-null   bool
dtypes: bool(1), float64(8), int64(8), object(3)
memory usage: 498.1+ KB

In [ ]:
# Converting 'churn' feature from 'bool' into 'int64'
df['Churn'] = df['Churn'].astype("int64")

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   State                   3333 non-null   object
 1   Account length          3333 non-null   int64
 2   Area code               3333 non-null   int64
 3   International plan      3333 non-null   object
 4   Voice mail plan         3333 non-null   object
 5   Number vmail messages   3333 non-null   int64
 6   Total day minutes       3333 non-null   float64
 7   Total day calls         3333 non-null   int64
 8   Total day charge        3333 non-null   float64
 9   Total eve minutes       3333 non-null   float64
 10  Total eve calls         3333 non-null   int64
 11  Total eve charge        3333 non-null   float64
 12  Total night minutes     3333 non-null   float64
 13  Total night calls       3333 non-null   int64
 14  Total night charge      3333 non-null   float64
 15  Total intl minutes      3333 non-null   float64
 16  Total intl calls        3333 non-null   int64
 17  Total intl charge       3333 non-null   float64
 18  Customer service calls  3333 non-null   int64
 19  Churn                   3333 non-null   int64
dtypes: float64(8), int64(9), object(3)
memory usage: 520.9+ KB

In [ ]:
# Desciptive statictis of each numerical features 
# (`int64` and `float64` types)
df.describe()

,Account length,Area code,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
count,3333.00,3333.00,3333.00,3333.00,3333.00,3333.00,3333.00,3333.00,3333.00,3333.00,3333.00,3333.00,3333.00,3333.00,3333.00,3333.00,3333.00
mean,101.06,437.18,8.10,179.78,100.44,30.56,200.98,100.11,17.08,200.87,100.11,9.04,10.24,4.48,2.76,1.56,0.14
std,39.82,42.37,13.69,54.47,20.07,9.26,50.71,19.92,4.31,50.57,19.57,2.28,2.79,2.46,0.75,1.32,0.35
min,1.00,408.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,23.20,33.00,1.04,0.00,0.00,0.00,0.00,0.00
25%,74.00,408.00,0.00,143.70,87.00,24.43,166.60,87.00,14.16,167.00,87.00,7.52,8.50,3.00,2.30,1.00,0.00
50%,101.00,415.00,0.00,179.40,101.00,30.50,201.40,100.00,17.12,201.20,100.00,9.05,10.30,4.00,2.78,1.00,0.00
75%,127.00,510.00,20.00,216.40,114.00,36.79,235.30,114.00,20.00,235.30,113.00,10.59,12.10,6.00,3.27,2.00,0.00
max,243.00,510.00,51.00,350.80,165.00,59.64,363.70,170.00,30.91,395.00,175.00,17.77,20.00,20.00,5.40,9.00,1.00

In [ ]:
# Descriptive statistics on non-numerical features
# We've to explicitly indicate data types of interest
# in the `include` parameter
df.describe(include=['object', 'bool'])

       State International plan Voice mail plan
count   3333               3333            3333
unique    51                  2               2
top       WV                 No              No
freq     106               3010            2411

In [ ]:
# For categorical (type object) and boolean (type bool)
# features we can use the value_counts method
df["Churn"].value_counts()

# NOTE: The churn rate is the percentage of subscribers
#  who discontinue service subscriptions within a given time

Churn
0    2850
1     483
Name: count, dtype: int64

In [ ]:
# `normalize=True` in `value_counts()` instructs Pandas
# to convert counts into fractions or proportions, which
# is form of normalization wher each count is divided by the
# total number of observations, thereby providing a relative
# frequency of each unique values
df["Churn"].value_counts(normalize=True)

Churn
0    0.86
1    0.14
Name: proportion, dtype: float64

### Sorting - `sort_values()`

In [ ]:
# A DataFrame can be sorted by the value of 
# one variable (i.e. columns)
df.sort_values(
    by="Total day charge",
    ascending=False
).head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
365,CO,154,415,No,No,0,350.8,75,59.64,216.5,94,18.40,253.9,100,11.43,10.1,9,2.73,1,1
985,NY,64,415,Yes,No,0,346.8,55,58.96,249.5,79,21.21,275.4,102,12.39,13.3,9,3.59,1,1
2594,OH,115,510,Yes,No,0,345.3,81,58.70,203.4,106,17.29,217.5,107,9.79,11.8,8,3.19,1,1
156,OH,83,415,No,No,0,337.4,120,57.36,227.4,116,19.33,153.9,114,6.93,15.8,7,4.27,0,1
605,MO,112,415,No,No,0,335.5,77,57.04,212.5,109,18.06,265.0,132,11.93,12.7,8,3.43,2,1

In [ ]:
# Sort by multiple columns
df.sort_values(
    by=["Churn", "Total day charge"],
    ascending=[True, False]
).head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
688,MN,13,510,No,Yes,21,315.6,105,53.65,208.9,71,17.76,260.1,123,11.70,12.1,3,3.27,3,0
2259,NC,210,415,No,Yes,31,313.8,87,53.35,147.7,103,12.55,192.7,97,8.67,10.1,7,2.73,3,0
534,LA,67,510,No,No,0,310.4,97,52.77,66.5,123,5.65,246.5,99,11.09,9.2,10,2.48,4,0
575,SD,114,415,No,Yes,36,309.9,90,52.68,200.3,89,17.03,183.5,105,8.26,14.2,2,3.83,1,0
2858,AL,141,510,No,Yes,28,308.0,123,52.36,247.8,128,21.06,152.9,103,6.88,7.4,3,2.00,1,0

### Indexing and retrieving data